{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="card">
          <div class="card-body">
            <h1>{{ blog.title }}</h1>
            <p>{{ blog.pub_date }}</p>
            <p>{{ blog.body }}</p>
            <br>
            {% if blog.images %}
                <img src="{{ blog.images.url }}" width="500" height="500">
            {% endif %}
            <br>
            <br>
            {% load static %}

            <a href="{% url 'update' blog.id %}"><img src="{% static "update.png" %}" alt="Update" width="30"></a>
            <a href="{% url 'delete' blog.id %}"><img src="{% static "delete.png" %}" alt="Delete" width="30"></a>
          </div>
        </div>
      </div>

{% endblock %}
