

<head>
	<meta charset="utf-8">
	<title>Post</title>
</head>

<body>
	<h2>Post List</h2>
	<span>
		<a href="{% url 'Post:post_archive' %}">Archive</a>
	</span>

	<p>
		{% for post in posts %}

		<h3><a href="{{post.get_absolute_url }}">{{ post.title }}</a></h3>
		{{ Post.mod_date|date:"N d, Y" }}

	{% endfor %}

	</p>
	<!--Example post template-->
	
    <div>
        <table cellspacing=1 width=700 border=0>
    <tr>
        <td>Total Posts: {{ totalCnt }}</td>
        <td><p align=right> Pages:{{ current_page }}
        </td>
    </tr>
</table>

<table cellspacing=1 width=700 border=1>
    <tr>
        <td width=50><p align=center>Number</p>
        </td>
        <td width=100><p align=center>Author</p>
        </td>
        <td width=320><p align=center>Title</p>
        </td>
        <td width=100><p align=center>Published Date</p>
        </td>
        <td width=100><p align=center>Views</p>
        </td>
    </tr>

    {% if boardList %}
        <ul>
            {% for boardRow in boardList %}
            <tr>
            <td width=50><p align=center>{{ boardRow.id }}</p></td>
            <td width=100><p align=center>{{ boardRow.name }}</p></td>
            <td width=320>
                <p align=center>
                    <a href="/viewWork?memo_id={{ boardRow.id }}&current_page={{ current_page }}&searchStr=None" title="{{ boardRow.memo}}">{{ boardRow.subject }}
                </p>
            </td>
            <td width=100><p align=center>{{ boardRow.created_date }}</p></td>
            <td width=100><p align=center>{{ boardRow.hits }}</p></td>
            </tr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Data.</p>
    {% endif %}
</table>


<table cellspacing=1 width=700 border=1 >
    <tr>
        <td>
        {% for page in totalPageList %}
            <a href="/listSpecificPageWork?current_page={{page}}" >
            [
            {% ifequal page current_page %}
                <b>
            {% endifequal %}
            {{page}}

            {% ifequal page current_page  %}
                </b>
            {% endifequal %}
            ]
        {% endfor %}
        </td>
    </tr>
</table>

<table width=700>
    <tr>
        <td><input type=button value="글쓰기"  OnClick="window.location='/show_write_form'">    </td>
        <td><form name=searchf method=post action="/searchWithSubject/">
            <p align=right><input type=text name=searchStr size=50  maxlength=50>
            <input type=submit value="글찾기"></p>
        </td>
    </tr>
</table>


    </div>
	<br>
	<div>
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
		{% if page_obj.has_next %}

		<a href="?page={{ page_obj.next_page_number }}">Next</a>
		{% endif %}

	</div>
</body>
