{% extends "base_cv.html" %}

{% block content %}
    <div class="fixed-top text-right p-4">

    </div>
    <div class="container p-4">
        {% if user_using_mobile %}
            <div class="row" style="height: 70px"></div>
        {% endif %}
        <div class="row">
            <h1 class="col-12 text-center">About me</h1>
            <p class="col-12 text-justify text-center p-1">
                Name: Seonghee Han
            </p>
            <p class="col-12 text-justify text-center p-1">
                Email: sxh1066@student.bham.ac.uk
            </p>


            <p class="col-12 text-justify text-center p-1">
                Address: Birmingham
            </p>
            <p class="col-12 text-justify text-center p-1">
                Nationality: Republic of Korea
            </p>
            <p class="col-12 text-justify text-center p-1">
                Personal Profile<br>
                I am a very passionate Computer Science student who is looking for opportunities to enhance knowledge and develop the skills required in this field. I have encountered several challenges whilst settling into a different country, but I have successfully overcome these with perseverance. I am aware that this career can be highly challenging and believe that my qualities will help me overcome any hindrances. My work ethic and commitment will allow me to succeed in this profession and I am confident that I can excel in what is a diverse career.
            </p>
        </div>
    </div>
{% endblock %}