{% extends "base_cv.html" %}

{% block content %}
    <div class="fixed-top text-right p-4">

    </div>
    <div class="container p-4">
        {% if user_using_mobile %}
            <div class="row" style="height: 70px"></div>
        {% endif %}
        <div class="row">
            <h1 class="col-12 text-center">Contact</h1>
            <h4 class="col-12 text-center">Email Address</h4>
            <p class="col-12 text-justify text-center p-1">

            </p>
        </div>
        <div class="row">
            <p class="col-12 text-justify text-center p-1">
                Email: sxh1066@student.bham.ac.uk
            </p>
        </div>
        <div class="row">
            <form method="post" class="col-12 text-center">
            </form>
        </div>
    </div>
{% endblock %}