{% extends "base_cv.html" %}

{% block content %}
    <div class="fixed-top text-right p-4">
    </div>
    <div class="container p-4">
        {% if user_using_mobile %}
            <div class="row" style="height: 70px"></div>
        {% endif %}
        <div class="row">
            <h1 class="col-12 text-center">Home</h1>
            {% load static %}
            <img src="{% static "computer.jpg" %}" class="roundedImage col-4 p-1"/>
            <p class="roundedImage col-1 p-1"></p>
            <p class="col-7 text-justify text-center p-1">
               Welcome, This website is Seonghee's curriculum viate website. Made with Django. New to Django and I had a look many github sources.
               This web Application contains CV and post app. Main page is CV. CV contains Home, About me, Tech skills, Education, Contact Emails.
               To post you will need to ask me to sign in. Because sign in page hasn't developed yet.
               But you can edit posted posts.
               Thanks for coming my website.
            </p>
        </div>
    </div>
{% endblock %}