{% extends "base_cv.html" %}

{% block content %}
    <div class="fixed-top text-right p-4">
    </div>
    <div class="container p-4">
        {% if user_using_mobile %}
            <div class="row" style="height: 70px"></div>
        {% endif %}
        <div class="row">
            <h1 class="col-12 text-center"><span style="font-variant:xx-large;">Education</h1></span>
            <p class="col-12 text-justify text-center p-1">
            </p>
                <span style="font-variant:normal;">
                    <div>
                September 2017-Present: University of Birmingham</br>
                Course: Artificial Intelligence and Computer Science </br>
                Expected: First</br>
                </br>
                </br>
                </br>
                </span>
                </div>
<div>
                <span style="font-variant:normal;">
                March 2016 - December 2016: NCUK Foundation</br>
                Mathematics: A*</br>
                Chemistry: A</br>
                Further mathematics: B</br>

                UCAS points: 144</br>

                </span>
</div>





            </div>
        <div class="row">
            <p class="col-6 text-justify text-center p-1">
                </br>
            </p>
            <p class="col-6 text-justify text-center p-1">


            </p>
        </div>

    </div>
{% endblock %}