{% extends "base_cv.html" %}

{% block content %}
    <div class="fixed-top text-right p-4">
    </div>
    <div class="container p-4">
        {% if user_using_mobile %}
            <div class="row" style="height: 70px"></div>
        {% endif %}
        <div class="row">
            <h1 class="col-12 text-center">Tech Skills</h1>
            <!-- <a class="col-12 text-center" href="#">For the description, click here</a> -->
            <p class="col-12 text-justify text-center p-1">
                I love programming especially low-level programming. Interested in Machine Learning, Computer Vison, C programming, Hardware, High Performance Computing.
            </p>

        </div>
        <div class="row">
            <h4 class="col-15 text-center">Programming Languages</h4>

        </div>

        <div class="row">
         <h4 class="col-12 text-center">
                C (Working Knowledge)</br>
                Java (Working  knowledge)</br>
                Python (Working Knowledge)</br>
                Assembly (Begineer)</br>
                Ocaml (Begineer)</br>

         </h4>
        </div>


        <div class="row">
            <h4 class="col-15 text-center">Frameworks</h4>
        </div>

        <div class="row">
         <h4 class="col-12 text-center">
                Keras (Learning)</br>
                Pytorch (Learning)</br>
                Tensorflow (Begineer)</br>

         </h4>
        </div>

        <div class="row">
            <h4 class="col-15 text-center">Operating System</h4>
        </div>


         <div class="row">
         <h4 class="col-12 text-center">
                Linux(Fedora, Debian)</br>
                Machintosh</br>
                Windows</br>
                Mobile</br>

         </h4>
        </div>

        <div class="row">
            <h4 class="col-15 text-center">Version Control</h4>
        </div>

         <div class="row">
         <h4 class="col-12 text-center">
                git</br>
         </h4>
        </div>
    </div>
{% endblock %}